.header{
    background-color: var(--light-color);
    padding: 1.5rem;
    box-shadow: 0px 2px 2px var(--shadow-color-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: var(--h6-size);
    font-weight: var(--font-semi-bold);
    position: relative;
    margin-left: 4rem;
}

.logo::before{
    content: '';
    position: absolute;
    left:-2rem;
    top: -0.25rem;
    width:1.25rem;
    height:1.5rem;
    border-radius: 0.25rem;
    background-color: var(--primary-color);
    margin-right:1rem;
}

.logo::after {
    content: '';
    position: absolute;
    left:-3.75rem;
    top: -0.25rem;
    width:1.25rem;
    height:2.5rem;
    border-radius: 0.25rem;
    background-color: var(--primary-color);
    margin-right:1rem;
}

.headerLeft{
    display: flex;
    align-items: center;
    column-gap:3rem;
}

.boardInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:max-content;
}

.boardName{
    font-size: var(--h6-size);
    margin-right:2rem;
}

.boardName::after{
    content:'';
    border:1px solid var(--secondary-color-medium);
    margin-left: 2rem;
}

.allBoardsBtn{
    display: flex;
    align-items: center;
    gap:0.5rem;
    border:0;
    padding:0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.appsIcon {
    height:1.3rem;
    width:auto;
}

.allBoardsBtnText{
    font-size: var(--normal-size);
    font-weight: var(--font-medium);
}

.headerRight{
    display: flex;
    align-items: center;
    width:max-content;
    gap:4rem;
}